.button{
    -fx-background-color: linear-gradient(#a9ff00, #80c800);
    -fx-background-size:stretch,auto;


}
.button:disabled{
    -fx-opacity: 1.0 ;
}
.button:hover{
    -fx-background-color: #a9ff00;
}
#New_Game_Button{
    -fx-background-color: linear-gradient(#f0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;
    -fx-font-size: 20;
}
#New_Game_Button:hover {
    -fx-background-color: linear-gradient(#b8ee36,#80c800 ),
    radial-gradient(center 50% -40%, radius 200%, #f0ff35 45%, #a9ff00 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;
    -fx-font-size: 20;
}
#Exit_Btn {
     -fx-background-color: linear-gradient(#f0ff35, #a9ff00),
     radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
     -fx-background-radius: 6, 5;
     -fx-background-insets: 0, 1;
     -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
     -fx-text-fill: #395306;
     -fx-font-size: 20;
 }
#Exit_Btn:hover {
    -fx-background-color: linear-gradient(#b8ee36,#80c800 ),
    radial-gradient(center 50% -40%, radius 200%, #f0ff35 45%, #a9ff00 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #395306;
    -fx-font-size: 20;
}

#RightLabel_Box{

    -fx-alignment: center;
    -fx-background-color: linear-gradient(#a9ff00 0%, #80c800 50%, #a9ff00 100%);
}
#LeftLabel_Box{

    -fx-alignment: center;
    -fx-background-color: linear-gradient(#a9ff00 0%, #80c800 50%, #a9ff00 100%);

}
#LeftLabel{
    -fx-rotate: -90;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
#RightLabel{
    -fx-rotate: 90;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
#ControlArea{
    -fx-background-color: linear-gradient(#a9ff00 0%, #80c800 50%, #a9ff00 100%);
}
#MenuBar {
    -fx-background-color: linear-gradient(#a9ff00 0%, #80c800 50%, #a9ff00 100%);
    -fx-border-color: #80c800;
    -fx-font-size: 15;
}
.menu:hover{
    -fx-background-color: green;
}
.menu:showing{
    -fx-background-color: green;
}

.menu-item:focused{
    -fx-background-color: green;
}
#HelpPane{
    -fx-background-image: url('Main/Stuff/Help.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch,auto;
}

